.calendar {
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(7, 20px);
  grid-auto-flow: column;
}

.day {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.note {
  @extend .day;
  background-color: tomato;
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}
