.calendar {
  padding: 0 10em;
}

.days {
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(7, 20px);
  grid-auto-flow: column;
}

.wrapper {
  flex: 1;
  margin: 0 -60px;
  display: flex;
  align-items: center;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.day {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: var(--white);
  transition: all 0.2s ease-in;
}

.note {
  @extend .day;
  background-color: var(--primary);
  &:hover {
    transform: scale(1.4);
    cursor: pointer;
  }
}
