@import 'mixins.scss';

.menu {
  display: flex;
  align-items: center;
  li {
    margin-right: 1em;
    @include link;
  }
}

.active h1 {
  transition: all 0.2s ease-out;
  color: var(--primary);
}

.search {
  margin-left: auto;
  margin-right: 0;
}
