@import 'mixins.scss';

.menu {
  display: flex;
  align-items: center;
  li {
    margin-right: 1em;
    @include link;
  }
}

.active h1 {
  transition: all 0.2s ease-out;
  color: var(--primary);
}

.search {
  margin-left: auto;
  input {
    background: transparent;
    color: var(--white);
    font-size: 2em;
    caret-color: var(--secondary);
    border: none;
    max-width: 300px;
    border-bottom: 1px solid var(--secondary);
    padding: 4px;

    &:focus {
      outline: none;
    }
  }
}
