.search {
  background: transparent;
  color: var(--white);
  font-size: 2em;
  caret-color: var(--secondary);
  border: none;
  max-width: 300px;
  border-bottom: 1px solid var(--secondary);
  padding: 4px;

  &:focus {
    outline: none;
  }
}
